/bootstrap/compiled.php
/vendor
/node_modules
/bower_components
composer.phar
composer.lock
.DS_Store
Thumbs.db
*.*.swp

/public/gc/js/bootstrap.js
/public/gc/js/jquery*
/public/gc/js/combined.js
/public/gc/js/gc.min.js

/public/gc/css/bootstrap.css
/public/gc/css/gc.min.css
/public/gc/css/combined.css
