@font-face {
  font-family: 'geo';
  src: url('../fonts/geo.ttf');
}

@font-face {
  font-family: 'geo-italic';
  src: url('../fonts/geo_italic.ttf');
}

/* Bootstrap Overrides */
a {
  color: #6a9859;
}

a:hover {
  color: #6b4776;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #6a9859;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #6b4776;
}

.navbar-default .navbar-toggle {
  margin-top: 23px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b4776;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover .icon-bar, 
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #6a9859;
}

.form-control {
  max-width: 100%;  
}

.form-control:focus {
  border-color: #6a9859;
  outline: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(106,152,89,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(106,152,89,1);
  box-shadow: 0px 0px 5px 0px rgba(106,152,89,1);
}

.btn-default,
.btn-default:focus {
  background-color: white;
  color: #6a9859;
  font-family: 'geo';
  font-size: 130%;
  padding: 4px;
}

.btn-default:hover {
  background-color: white;
  color: #6b4776;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  border-bottom: 1px dotted #6b4776;
}

.modal-title {
  font-family: 'geo';
  font-size: 200%;
}

/* greg-considine.com specific */
em {
  font-family: 'geo-italic';
}

.gc-border {
  border: 1px solid #6a9859;
}

.gc-border:hover {
  border: 1px solid #6b4776;
}

.gc-logo-header {
  width: 50px;
  height: 50px;
}

.gc-nav-buttons {
  font-family: 'geo';
  font-size: 200%;
}

.gc-nav-buttons li a {
  line-height: 200%;
  color: #40174d;
}

.gc-content {
  margin-bottom: 50px;
  padding-top: 15px;
  min-height: 330px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
  overflow-y: auto;
  overflow-x: hidden;
}

.gc-content h1{
  font-family: 'geo';
  margin: 0;
}

.gc-content-divider {
  border: 1px dotted #40174d;
  margin: 10px 0 10px 0;
}

.gc-logo-content {
  width: 300px;
  margin: 0 auto;
}

.gc-icon-title {
  padding-top: 10px;
  text-align: center;
}

.gc-icon-title h1 {
  margin: 10px;
}

.gc-image-container {
  margin-bottom: 20px;
}

.gc-image-container p {
  font-family: 'geo';
  font-size: 150%;
  margin: 0;
}
.gc-image-container a {
  text-decoration: none;
}

.gc-footer {
  opacity: 0.7;
}
.gc-built-with img,
.gc-connect img,
.gc-info img {
  padding: 10px;
}

.gc-built-with h3,
.gc-connect h3,
.gc-info h3 {
  font-family: 'geo';
}

.gc-contact-status {
  clear: both;
}

.gc-sending {
  font-size: 250%;
}

.gc-text-success {
  color: #6b4776;
  font-family: 'geo';
  font-size: 200%;
}

.gc-welcome-container {
  margin-top: 10px;
}

.gc-content-icon {
  color: #a8636e;
  font-size: 1250%;
}

.gc-content-details {
  color: #6a9859;
  font-size: 200%;
  cursor: pointer;
}

.gc-project-entry h4 {
  font-family: 'geo';
  font-size: 150%;
}

.gc-project-sprite {
  background-image: url("/gc/img/prod/projects.png"); 
  height: 75px;
  display:block;
  repeat: none;
}
.gc-sprite-csl {
  background-position: 0px 0px;
}
.gc-sprite-csc {
  background-position: 0px -75px;
}
.gc-sprite-redalytics {
  background-position: 0px -150px;
}
.gc-sprite-everywhere {
  background-position: 0px -225px;
}
.gc-sprite-forest {
  background-position: 0px -300px;
}
.gc-sprite-squares {
  background-position: 0px -375px;
}

.gc-icon-sprite {
  background-image: url("/gc/img/prod/icons.png"); 
  height: 75px;
  width: 75px;
  display:block;
  repeat: none;
  margin: 5px;
}
.gc-sprite-laravel {
  background-position: 0px 0px;
}
.gc-sprite-html {
  background-position: 375px 0px;
}
.gc-sprite-bootstrap {
  background-position: 300px 0px;
}
.gc-sprite-grunt {
  background-position: 225px 0px;
}
.gc-sprite-linkedin {
  background-position: 150px 0px;
}
.gc-sprite-github {
  background-position: 75px 0px;
}
